parameters:
    checkMissingIterableValueType: false
    level: 8
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Variable \$loadEntities might not be defined\.#'
        - '#Variable \$useInternalXmlErrors might not be defined\.#'
